# Python
**/__pycache__/
*.py[cod]
venv/

# AI Models & Weights (Too large for Git)
*.pt
*.pth
*.onnx

# Data & Results
data/raw_videos/*
!data/raw_videos/.gitkeep
models/yolop/runs/
inference/output/

# IDE
.vscode/